.header {
  display: flex;
  justify-content: center;
}

.navContainer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 1.5em;
}

.nav {
  display: flex;
  justify-content: end;
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.active {
  color: #000000;
  margin-left: 2em;
}

.inactive {
  color: #777777;
  margin-left: 2em;
  text-decoration: none;
}

.logoutButton {
  margin-left: 2.0em;
  padding: 0.6em 1em;
  border-radius: 0.8em;
  background-color: gray;
  color: #fff;
  border: none;
}